:root {
  --primary-font: "Arial", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --primary-color: #0388a6;
  --secondary-color: #99e9f2;
  --third-color: #03588c;
  --foorth-color: #031626;
  --fifth-color: #022340;
  --background-color: #f4f4f4;
  --text-color: #031626;
  --primary-font: "";
  --secondary-font: "Roboto", sans-serif;
}
@font-face {
  font-family: "DolceAmyara";
  src: url("../public/fonts/DolceAmyara.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DolceAmyara", sans-serif;

  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* navBarTOp/  */
.navtop-wrapper {
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth fade and slide */
  height: auto; /* Maintain height while transitioning */
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navtop-wrapper.visible {
  opacity: 1;
  transform: translateY(0); /* Fully visible */
}

.navtop-wrapper.hidden {
  opacity: 0;
  transform: translateY(-100%); /* Slide up and hide */
}

/* navBarTOp/  */
